/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';

@import 'bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.unified-focus {
  &:focus-within {
    .input-group-text {
      border-color: #86b7fe;
      box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
      border-right: none;
      z-index: 2;
      clip-path: inset(-0.35rem 0rem -0.35rem -0.35rem);
    }
    .form-control {
      z-index: 2;
      clip-path: inset(-0.35rem -0.35rem -0.35rem 0rem);
    }
  }
}

body {
  background-image: url('/images/bg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.btn-navy {
  background-color: #002147 !important; /* Navy Blue */
  color: #ffffff !important;
  border-color: #002147 !important;
  opacity: 1 !important; /* Ensure visibility */
  transition: all 0.3s ease;

  &:hover {
    background-color: #00152e !important; /* Darker Navy */
    border-color: #00152e !important;
    color: #ffffff !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  &:focus, &:active {
    background-color: #001024 !important;
    border-color: #001024 !important;
    box-shadow: 0 0 0 0.25rem rgba(0, 33, 71, 0.5);
  }
  
  &:disabled {
      background-color: #3b4d61 !important;
      border-color: #3b4d61 !important;
      opacity: 1 !important; /* Avoid transparency on disabled */
  }
}
